* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-family: var(--font-bebas-neue);
   background-color: black;
}

.wrapper {
   display: grid;
   grid-template-areas:
      "header"
      "main"
      "footer"
   ;
   grid-template-columns: 1fr;
   height: 300vh;
   margin: 0 auto;
   max-width: 1200px;
   @media (min-width: 48em) {
      grid-gap: 0;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: .5fr 5fr .5fr;
      grid-template-areas: 
         "header header header header header header"
         "main   main   main   main   main   main  "
         "footer footer footer footer footer footer"
      ;
   }

}

.container {
   margin: auto;
}

.flex {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

header{
width: 100vw;
grid-area: header;
padding: 20px 4%;
position: fixed;
top: 0;
left: 0;
transition: .1s;
margin: 0;
}

header.rolagem {
   background-color: #000;
   padding: 10px 4%;
}

header.rolagem a {
   margin: 1px 0;
}

header img {
   height: 50px;
   margin-left: 5px;
}

header ul li {
   display: inline-block;
   margin: 0 50px;
}

nav a {
   position: relative;
   color:#fff;
   text-decoration: none;
   font-size:x-large;
}

nav a:hover {
   color: var(--color-gren);
}

nav a::after { 
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   width: 0%;
   height: 4px;
   background-color: var(--color-gren);
   transition: .6s ease-in-out;
}

nav a:hover::after {
   width: 100%;
   color: var(--color-gren);
}

.contato {
   font-family: var(--font-bebas-neue);
   background: transparent;
   width: 100px;
   height: 48px;
   color: var(--color-gren);
   font-size: x-large;
   border-radius: 5px;
   border: 2px solid var(--color-gren);
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}

.contato:hover {
   box-shadow: 0 0 15px var(--color-gren), inset 0 0 15px var(--color-gren);
   text-shadow: 0 0 15px var(--color-gren);
}

main {
   grid-area: main;
   margin: 0;
}

.banner {
   margin: auto;
   height: 86vh;
   width: 60vw;
   background-image: url(../assets/imagens/banner.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size:contain;
}

.conteudo {
   margin: 0 auto 12px;
   height: 85vh;
   width: 96vw;
   padding: 20px;
   background-color: #121212;
   border-radius: 5px;
   
}

.grid_sobre_a_banda {
   display: grid;
   grid-template-areas:
      "title"
      "conteudo"
      "integrantes"
   ;
   grid-template-columns: 1fr;
   height: 100vh;
   width: 100%;
   margin: auto;
   max-width: 1200px;
   @media (min-width: 48em) {
      grid-template-columns: .1fr 1fr 1fr 1fr;
      grid-template-rows: .1fr .5fr .2fr;
      grid-template-areas: 
         "title title title title"
         "conteudo conteudo conteudo conteudo"
         "integrantes integrantes integrantes integrantes"
      ;
   }

}

.grid_sobre_a_banda .title {
   grid-area: title;
   width: 100%;
   margin: auto;
   font-size: xx-large;
   color: var(--color-gren);
   text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.grid_sobre_a_banda .bios {
   grid-area: conteudo;
   width: 100%;
}

.integrante {
   background-color: #ffffffae;
   margin: 15px auto;
   height: 250px;
   width: 500px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px;
   padding-left: 0;
   border: 2px solid black;
   border-left: none;
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
 }
 
 .integrante img {
   width: 45%;
   height: 250px;
   margin-right: 10px;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
 }
 
 .integrante h1 {
   width: 100%;
   color: black;
   text-align: center;
   margin-bottom: 15px;
 }

 .integrante h2 {
   width: 100%;
   color: #333;
   line-height: 1.5;
   font-size: 14px;
   text-align: justify;
 }
 
 

.grid_sobre_a_banda .integrantes {
   grid-area: integrantes;
   width: 100%;
}

.integrantes {
   display: flex;
   justify-content: space-around;
}

.integrantes img {
   height: 100px;
   width: 100px;
   border-radius: 50%;
   transition: all .5s ease;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  
}

.integrantes a:hover {
   transform: scale(1.1);
}

.grid_midia {
   display: grid;
   grid-template-areas:
      "title"
      "conteudo"
   ;
   grid-template-columns: 1fr;
   height: 100vh;
   width: 100%;
   gap: 1px;
   margin: auto;
   max-width: 1200px;
   @media (min-width: 48em) {
      grid-template-columns: .1fr 1fr 1fr 1fr;
      grid-template-rows: .1fr .5fr;
      grid-template-areas: 
         "title title title title"
         "spotify spotify spotify spotify"
         "youtube youtube youtube youtube"
      ;
   }

}

.grid_midia .spotify {
   grid-area: spotify;
   margin: 0 auto 12px;
   height: 85vh;
   width: 96vw;
   padding: 20px;
   background-color: #121212;
   border-radius: 5px;
  
}

.grid_midia .youtube {
   grid-area: youtube;
   margin: 0 auto 5px;
   height: 85vh;
   width: 96vw;
   padding: 20px;
   background-color: #121212;
   border-radius: 5px;
  
}

.grid_midia .spotify .widget {
   width: 100%;  
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.grid_midia .youtube .widget {
   width: 100%;  
   display: flex;
   justify-content: center;
   align-items: center;
}


.grid_midia .title {
   grid-area: title;
   width: 100%;
   margin: auto;
   margin-bottom: 50px;
   font-size: xx-large;
   color: var(--color-gren);
   text-shadow: 1px 1px 5px rgb(0, 0, 0);
   display: flex;
   justify-content: space-between;
}

.grid_midia a {
   font-family: var(--font-bebas-neue);
   color: red;
   font-size: xx-large;
   cursor: pointer;
   margin-right: 5px;
   position: relative;
   text-decoration: none;
}

.grid_midia a:hover {
   color: red
}

.grid_midia a::after { 
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   width: 0%;
   height: 4px;
   background-color: red;
   transition: .6s ease-in-out;
}

.grid_midia a:hover::after {
   width: 100%;
   color: red;
}